h1{
    text-align: center;
    color:#fff ;
}
form{
    border: 1px solid #ccc;
    margin: 0 auto;
    height: auto;
    width: 300px;
    padding: 30px;
    border-style: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    input {
              width: 100%;
              height: 40px;
              border-radius: 5px;
              border-style: none;
              border: 1px solid #ccc;
              text-align: center;
              border-style: none;
              background-color: #f5f1f1;
              border-radius: 6px;

            }
            label {
                      font-size: 16px;
                      color: #000000;
                      text-align: center;
                      display: block;
                    }
                    button {
                              width: 100%;
                             padding: 10px;
                              border-radius: 5px;
                              border-style: none;
                              color: #fff;
                              cursor: pointer;
                            font-size: 16px;
                            outline: none;
                            background-color: #0d55f1;
                            }
}
.content {
  height: 100vh;
}


