@media screen and (max-width: 768px) {
  .sidebar {
width: 100px;
  }

   .ma{
    width: 60%;
    position: relative;
    text-align: center;
    top: 16%;
    margin: 0px auto;
   }
   .main{
    position: absolute;
    
    left: 100px;
    width: calc(100% - 100px);
   height: 100vh;
    div{
        display: flex;
        justify-content: center;
        align-items: center;

    }
  }
  .btn {
    width: 60% !important;
    position: relative ;
    top:10px ;
  }
  .urlText{
    font-size:14px ;
  }
  //logout
  .logout{
    padding: 6px !important;
    margin-left:0 !important;
  }
  .count-box{
    width: 80px !important;
  }
}

  
